
<ion-content>
  <h2>Learn Spanish!</h2>
      <p>In partnership with</p>
      <br>
      <img src="http://static1.squarespace.com/static/5797c4d703596ef92b31b06d/t/58334a08c534a53840aaf1b8/1541568813202/?format=1500w"alt="Meantime Logo">

        <br>
        <br>
        Placeholder video
        <br>
        
        <iframe width="400" height="315" src="https://www.youtube.com/embed/gkQ9V9WwR3c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br>
        <table>
          <tr>
            <th>Time Stamp</th>
            <th>Phrase</th>
          </tr>
          <tr>
            <td>0:04-0:07</td>
            <td>Hola un cafe porfavor</td>            
          </tr>
          <tr>
            <td>0:07-0:11</td>
            <td>Un cafe? Puedes ser un poco mas especifica?</td>            
          </tr>
         </table>


        <br>
        <ion-button shape="round" color="medium" size="large" href="http://localhost:8100/tabs/Glossary">Glossary</ion-button>
        <ion-button shape="round" color="medium" size="large" href="http://localhost:8100/tabs/Homepage">Homepage</ion-button>
        <br>
        <ion-button shape="round" color="medium" size="large" href="http://localhost:8100/tabs/Rate">Rate your Partner</ion-button>

        
        <pre>   <a href="http://localhost:8100/tabs/Contact">Contact us</a>              <a href="http://localhost:8100/tabs/About">About the Project</a></pre>          
        <br>
        <a href="http://localhost:8100/tabs/Feedback">Feedback</a>
        
</ion-content>
