.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

 ion-content {
  --background: #c3b091;
  background-color: #c3b091;
  --color: white;
  text-align: center;
  font-family: arial, sans-serif;
 
}
h2 {
  font-family: arial, sans-serif;
  text-align: center;
  background-color: #c3b091;
}
p {
  text-align: center;
  font-family: arial, sans-serif;
}
h3 {
  font-family: arial, sans-serif;
  text-align: center;
  background-color: #c3b091;
}
