<ion-content>
    <h2>Learn Spanish!</h2>
      <p>In partnership with</p>
      <br>
      <img src="http://static1.squarespace.com/static/5797c4d703596ef92b31b06d/t/58334a08c534a53840aaf1b8/1541568813202/?format=1500w"alt="Meantime Logo">

        <br>
        <br>
     <!---   <audio id="audio" src="http://www.soundjay.com/button/beep-07.mp3" autoplay="false" ></audio>
    <a onclick="playSound();">Play</a>
    <script>
    function playSound() {
          var sound = document.getElementById("audio");
          sound.play();
      }
    </script>-->

        <br>
        <h3>¡Bienvenidos!</h3>
        <br>
        This application is a prototype designed to help people learn Spanish in a contextual setting.
        We use the scenario of ordering a coffee to introduce beginners to the language in a fast and easy method.
        <br>
        <br>
        This app has an example video to view and follow with transcriptions that won't overwhelm with complicated language.
        Take a look at the glossary for extra terms, or to specify your own order of coffee and any extra items as necessary.
        <br>
        <br>
        <br>

        Click the "Order a Coffee" button to get started!

        <ion-button shape="round" color="medium" size="large" href="http://localhost:8100/tabs/Order">Order a Coffee</ion-button>

        <br>
        <br>
        <a href="http://localhost:8100/tabs/Contact">Contact us</a>  
        <br>
        <br> 
        <a href="http://localhost:8100/tabs/About">About the Project</a>       
        <br>
        <br>
        
</ion-content>
