
<ion-content>
  <h2>Learn Spanish!</h2>
      <p>In partnership with</p>
      <br>
      <img src="http://static1.squarespace.com/static/5797c4d703596ef92b31b06d/t/58334a08c534a53840aaf1b8/1541568813202/?format=1500w"alt="Meantime Logo">

        <br>
        <br>
      
        <h2>About the Project</h2>
        <br>
        Paragraph here
        <br>
        
        <ion-button shape="round" color="medium" size="large" href="http://localhost:8100/tabs/Homepage">Homepage</ion-button>
        <br>

        <br>
        <br>
        <a href="http://localhost:8100/tabs/Contact">Contact us</a>        
        <br>
        <br>
        <a href="http://localhost:8100/tabs/Feedback">Feedback</a>  
        
        
        
</ion-content>
