
<ion-content>
  <h2>Learn Spanish!</h2>
      <p>In partnership with</p>
      <br>
      <img src="http://static1.squarespace.com/static/5797c4d703596ef92b31b06d/t/58334a08c534a53840aaf1b8/1541568813202/?format=1500w"alt="Meantime Logo">

        <br>
        <br>
        Example Video
        <br>
        
        <iframe width="350" height="315" src="https://www.youtube.com/embed/uwFtw_enWBc?start=5" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br>
        <table>
          <tr>
            <th>Time Stamp</th>
            <th>Phrase</th>
          </tr>
          <tr>
            <td>0:04-0:07</td>
            <td>¡Hola! ¿Como estás?</td>            
          </tr>
          <tr>
            <td>0:07-0:11</td>
            <td>¡Hola! Muy bien. Quería un cafe. </td>            
          </tr>
          <tr>
            <td>0:11-0:12</td>
            <td>¿Qué café querías?</td>            
          </tr>
          <tr>
            <td>0:13-0:14</td>
            <td>Un cortado.</td>            
          </tr>
          <tr>
            <td>0:14-0:16</td>
            <td>Un cortado. Bueno.</td>            
          </tr>
          <tr>
            <td>0:20-0:21</td>
            <td>¿Cuánto es?</td>            
          </tr>
          <tr>
            <td>0:22-0:23</td>
            <td>Cinco con cincuenta.</td>            
          </tr>
          <tr>
            <td>0:23-0:24</td>
            <td>Muchas gracias.</td>            
          </tr>
          <tr>
            <td>0:24-0:25</td>
            <td>Muchisimas de nada.</td>            
          </tr>
          <tr>
            <td>0:25-0:26</td>
            <td>¡Adiós!</td>            
          </tr>
          <tr>
            <td>0:26-0:27</td>
            <td>Ciao.</td>            
          </tr>
         </table>
         <br>
         Here we see someone ordering a coffee.
         View the video again as necessary to gather the vocabulary needed to order.
         <br>
         <br>
         When you're ready, take a look at the glossary for your own ordering needs, and rate your partner on their Spanish after ordering!


        <br>
        <ion-button shape="round" color="medium" size="large" href="http://localhost:8100/tabs/Glossary">Glossary</ion-button>
        <ion-button shape="round" color="medium" size="large" href="http://localhost:8100/tabs/Homepage">Homepage</ion-button>
        <br>
        <ion-button shape="round" color="medium" size="large" href="http://localhost:8100/tabs/Rate">Rate your Partner</ion-button>

        
        <br>
        <br>
        <a href="http://localhost:8100/tabs/Contact">Contact us</a>  
        <br>
        <br> 
        <a href="http://localhost:8100/tabs/About">About the Project</a>       
        <br>
        <br>
        
        
</ion-content>
