<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="Homepage">
      <ion-icon name="home"></ion-icon>
      <ion-label>Homepage</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Order">
      <ion-icon name="pint"></ion-icon>
      <ion-label>Order</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Glossary">
      <ion-icon name="book"></ion-icon>
      <ion-label>Glossary</ion-label>
    </ion-tab-button> 

      <ion-tab-button tab="Rate">
        <ion-icon name="star"></ion-icon>
        <ion-label>Rate A Partner</ion-label>
      </ion-tab-button>
  
  </ion-tab-bar>



</ion-tabs>
