.welcome-card ion-img {
    max-height: 35vh;
    overflow: scroll;
  }

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color:#c3b091;
    text-align: center;
  }

td {
    border: 1px solid #000000;
    text-align: center;
    padding: 8px;
  }

tr:nth-child(even) {
    background-color: #989aa2;
    text-align: center;
  }

h2 {
      font-family: arial, sans-serif;
      text-align: center;
      background-color: #c3b091;
  }

img {
    text-align: center;
    background-color: #c3b091;
  }

p {
    text-align: center;
    background-color: #c3b091;
  }

ion-content {
    --background: lightgoldenyellow;
    background-color: #c3b091;
    --color: white;
    text-align: center;
    font-family: arial, sans-serif;
   
  }
body {
    background-color: #c3b091;
}
ion-fab-button{
  --color: white;
  --background-activated: blue;
  --background: black;
  --background-focused: grey;
  text-align: right;
  justify-content: center;
}
ion-icon{
  --name: "volume-high";
}
.oddRow{
  width: 100%;
  height: 100%;
  background:#989aa2;
  color: white;
  border-color: black;
  border-width: 20px;  
  text-align: center;
  vertical-align: middle; 
}
.headerDiv{
  widows: 100%;
  height: 100%;
  color: white;
  font-weight: bold;

}

  