<ion-header>
    <body style="background-color:khaki">
      <h6>Find any key word here</h6>
    </body>
    <head>
        <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
        </head>
        <body>
        
        <br>
        <br>
        <br>
        
        <table>
          <tr>
            <th>Word</th>
            <th>Image</th>
            
          </tr>
          <tr>
            <td style="text-align:center;">Manzana</td>
            <td style="text-align:center;"><img src="https://cdn.vox-cdn.com/thumbor/-bKrYahnwqww9sH9v2h34v9ViA0=/0x114:585x559/1200x800/filters:focal(248x297:340x389)/cdn.vox-cdn.com/uploads/chorus_image/image/57272301/Screen_Shot_2017_10_23_at_10.16.32_AM.0.png" alt="Manzana" width="50" height="50"></td>
            
          </tr>
          <tr>
            <td>Banana</td>
            <td>image here</td>
            
          </tr>
          <tr>
            <td>Cafe</td>
            <td>image here</td>
            
          </tr>
          <tr>
            <td>mollete</td>
            <td>image here</td>
            
          </tr>
          <tr>
            <td>grande</td>
            <td>image here</td>
           
          </tr>
          <tr>
            <td>food item</td>
            <td>image here</td>
          
          </tr>
        </table>
        
        </body>
    
    </ion-header>

